* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  background-color: #dedede;
}

input, label, select {
  display:block;
}

/* CHAMELEON GAME PAGE */

.chameleonContainerAll {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 90%;
  margin: 20px auto
  }